*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
}

svg {
    cursor: pointer;
    opacity: 0.8;
    transition: all 500ms ease-in-out 0ms;
}